*{
  background-color: #000;
  color: #f00b51; 
  font-family: 'Afacad';
  margin: 0 auto;
  padding: 0;
}

.login-form.mt-5.container {
  width: 35%;
  margin-top: 1.5rem !important;
}

alert {
  position: fixed !important;
  top: 90%;
  left: 3.125rem;
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

alert.show {
  transition: 1s ease-in-out;
}

.login-form {
  margin: auto;
  padding: 0.625rem;
  background: linear-gradient(180deg, #f00b51, #7a0061);
  border-radius: 2.688rem;
  text-align: center;
  position: relative;
  margin-bottom: 1.875rem;
  opacity: 0;
  transform: translateY(-3.125rem); 
  transition: opacity 1s ease-in-out, 
  transform 1s ease-in-out;
}

.login-form.show{
    opacity: 1;
    transform: translateY(0); 
}
.login-form > .content {
  background: #000;
  border-radius: 2.063rem;
  padding: 1.25rem;
  height: 100%;
  top: -3.125rem;
}

.login-form input {
  width: 100%;
  padding: 0.625rem;
  margin: 0.625rem 0;
  border: none;
  font-size: 2.25rem;
  border-bottom: 0.125rem solid #f00b51;
  background: transparent;
  color: #fff;
  outline: none;
}

.form-control:focus{
  color: #fff !important;
  outline: none !important;
  box-shadow: none !important;
}

.login-form input:focus{
  background: transparent;
}

.login-form input::placeholder {
  background: linear-gradient(180deg, #f00b51, #7a0061);
  background-clip: text;
  color: transparent;
  font-size: 2.188rem;
}

.login-form button {
  width: 50%;
  padding: 0.625rem;
  background: linear-gradient(90deg, #f00b51, #7a0061);
  border: none;
  color: white;
  border-radius: 0.625rem;
  cursor: pointer;
  margin-top: 1.25rem;
  font-size: 3rem;
}
.logo > img{
  height: 55%;
  width: 55%;
}
.login-form button:hover {
  background: linear-gradient(90deg, #7a0061, #f00b51);
}

.login-form .forgot-password, .login-form .sign-up {
  color: #f00b51;
}

.forgot-password, .sign-up, p{
  font-size: 1.1rem;
}

.forgot-password{
  padding-top: -3.125rem;
}

p{
  padding: 0;
  margin: 0;
}

.login-form .forgot-password:hover, .login-form .sign-up:hover {
  text-decoration: underline;
}

