*{
    background-color: #000;
    color: #f00b51; 
    font-family: 'Afacad';
    margin: 0 auto;
    padding: 0;
  }

.register-form.mt-5.container{
    width: 35%;
    margin-top: 1.5rem !important;
    
}
.register-form {
    padding: 0.625rem;
    background: linear-gradient(180deg, #f00b51, #7a0061);
    border-radius: 2.688rem;
    text-align: center;
    opacity: 0;
    transform: translateY(-3.125rem); 
    transition: opacity 1s ease-in-out, 
    transform 1s ease-in-out;
  }
  .register-form.show {
    opacity: 1; 
    transform: translateY(0); 
}

  
.register-form > .content {
    background: #000;
    border-radius: 2.063rem;
    padding: 1.25rem;
    height: 100%;
    top: -3.125rem;
  }

.register-form input{
    width: 100%;
    padding: 0.625rem;
    margin: 0.625rem 0;
    border: none;
    font-size: 2.25rem;
    border-bottom: 0.125rem solid #f00b51;
    background: transparent;
    color: #fff;
    outline: none;
}

.register-form input::placeholder{
    background: linear-gradient(180deg, #f00b51, #7a0061);
    background-clip: text;
    color: transparent;
    font-size: 2.188rem;
}
.register-form input:focus{
    background: transparent;
  }
.register-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-logo > img{
    width: 35%;
    height: 35%;
    padding:0;
    margin-left: 2rem;
    filter:alpha(opacity=40);
}

.register-logo > span > p{
    font-size: 2rem;
    width: 15rem;
    word-wrap: normal;
    margin-bottom: 0;
    margin-left: -2rem;
    background: linear-gradient(180deg, #f00b51, #7a0061);
    background-clip: text;
    color: transparent;
    font-size: 2.188rem;
}

.register-form button{
    width: 50%;
    padding: 0.625rem;
    background: linear-gradient(90deg, #f00b51, #7a0061);
    border: none;
    color: white;
    border-radius: 0.625rem;
    cursor: pointer;
    margin-top: 1.25rem;
    font-size: 3rem;
}

.register-form .sign-up:hover {
    text-decoration: underline;
  }

.register-form .sign-up{
    color: #f00b51 !important;
    font-size: 1.1rem;
  }

.register-form span {
    font-size: 1.1rem;
}

.alert {
    position: fixed !important;
    top: 90%;
    left: -30rem;
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
  }
  
.alert.show {
    transition: 1s ease-in-out;
  }